@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
      
    color: #343A40; /* Dark Gray */
}


header {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  background-color: rgba(0, 123, 255, 0.3); /* Transparent background - Blue */
  padding: 10px 0; /* Add padding */
  display: flex;
  justify-content: center;
  justify-content: space-between;
  border-radius: 20px 20px 20px 20px; /* Rounded corners */
  z-index: 1000; /* Ensure the header appears above other content */
}

.bg{
   
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:65vh;
    margin-top: 0%;
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.container {
    max-width: 1200px; /* Set a maximum width for responsiveness */
    margin: 0 auto; /* Center the container */
}

/* Navigation link styles */
nav a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set the text color */
    font-weight: bold; /* Make the text bold */
    padding: 10px 15px; /* Add spacing around links */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effect */
    border-radius: 20px; /* Rounded corners */
    margin: 0 10px; /* Add spacing between links */
}

nav a:hover {
    background-color: #c2d7ea; /* Change background color on hover - Gray */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.nav-active {
    background-color: #c2d7ea; /* Active link background color */
    color: #343A40; /* Active link text color */
    border-radius: 20px;
  }
  

/* Divide about section into left and right parts */
.about-left {
    margin-top: 10%;
    float: left;
    width: 30%; /* Adjust as needed */
    margin-right: 0%; /* Add space between image and text */
    position:relative;
}

.about-left img {
    width: 100%; /* Adjust image width */
    max-width: 150px; /* Adjust maximum image width */
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  color: white; /* Social icons color */
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #0a5996; /* Social icons hover color */
}

/* Clear floats to ensure proper layout */
.container:after {
    content: "";
    display: table;
    clear: both;
}

#about 
{
  width: auto;
  padding: 0;
  margin-bottom: 0px;
  height: 350px;
}
.about-right {
    float: left;
    width: 65%; /* Adjust as needed */
    margin-top: 10%;
    color: #fff;
}

.profile-image {
    position: relative; /* Position social icons relative to the image */
    text-align: center;
    z-index: 2;
}
  
  /* Optional: add some keyframes for animation */
  @keyframes popIn {
    0% {
      transform: translateZ(0) scale(1);
    }
    100% {
      transform: translateZ(30px) scale(1.05);
    }
  }
  
  .cartoon-image {
    animation: popIn 0.3s forwards;
  }
/* Clear floats to ensure proper layout */
.container:after {
    content: "";
    display: table;
    clear: both;
}

main {
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

section#projects .container {
    background-color: #F8F9FA;    /* Black */
    justify-content: center;
    max-width: 100%; /* Optionally limit the width of the container */
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
}

.heading {
    color: black; /* White */
    margin-top: 20px;
    text-align: center;
}

.project-card {
    right: -15%;
    width: calc(70% - 5px); /* Adjust card width */
    background-color: #d5daf4; /* Default background color for cards */
    color: #000000;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 0%;
    padding-bottom: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex; /* Added to allow for image and content side-by-side */
    overflow: hidden; /* Hide overflow to ensure rectangular shape */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transitions */
    position: relative; /* Added for image positioning */
}

.project-card:focus {
    transform: scale(1.1);
    outline: none; /* Remove default focus outline */
}

.project-card:hover {
    background-color: #6167db;
    background: linear-gradient(#6276d5, #c5c9f9);
    transform: scale(1.10); /* Zoom in card slightly on hover */
}

.project-details {
    flex: 1; /* Take remaining space */
}

.project-card img {
    width: 350px; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Scale image to cover the container */
    transform-origin: right center; /* Set rotation origin */
    outline: none; /* Remove default focus outline */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 0%;
    margin-right: 0%;
}

.image {
    margin-right: -30px;
    object-fit: cover; /* Scale image to cover the container */
    transform-origin: 80% 100%; /* Set rotation origin */
    border-radius: 0; /* Make the edges of the image straight */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
    transform: translateX(25%) translateY(7%);
}

.project-card img:hover {
    transform: rotate(-2deg) translateX(4%); /* Rotate and move image towards left */
}

.github-btn {
    display: inline-block;
    padding: 7px 20px;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
    position: relative; /* Added for icon positioning */
    z-index: 1; /* Ensure button appears below image */
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: white;
}

.github-btn img {
    width: 16px; /* Adjust icon width */
    height: auto;
    margin-right: 5px; /* Add spacing between icon and text */
}

.timeline {
    width: 100%; /* Full width */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .entry {
    background: #fff; /* Background color of entry */
    padding: 20px;
    border-radius: 4px; /* Rounded corners */
    margin-bottom: 30px; /* Space between entries */
    width: 45%; /* Width of entry */
    position: relative;
  }
  
  /* Adjust the alignment based on odd/even child */
  .entry:nth-child(odd) {
    align-self: flex-start;
    margin-right: auto;
  }
  
  .entry:nth-child(even) {
    align-self: flex-end;
    margin-left: auto;
  }
  
  .title {
    position: absolute;
    top: 32px;
    color: white;
    transform: translateY(-50%);
    white-space: nowrap;
  }
  
  /* Left title for the right side */
  .entry2 .title{
    right: 115%; /* Position outside the box on the right side */
  }
  
  /* Right title for the left side */
  .entry1 .title {
    left: 115%; /* Position outside the box on the left side */
  }
  
  .content h3 {
    color: #333;
    margin-bottom: 5px;
  }
  
  .content h4 {
    color: #666;
    margin-bottom: 10px;
  }
  
  .content p {
    line-height: 1.6;
  }
  
  /* Central line */
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 2px;
    background: #333; /* Line color */
  }
  
  /* Dot for the entry */
.entry1::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 101%;
    transform: translate(30%, 30%);
    height: 40px;
    width: 40px;
    border: 3px solid rgb(255, 255, 255); /* Border color */
    background-color: #eceaea; /* Dot color */
    border-radius: 50%;
    background-image: url('briefcase.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .entry2::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -12%;
    transform: translate(30%, 30%);
    height: 40px;
    width: 40px;
    border: 3px solid rgb(255, 255, 255); /* Border color */
    background-color: #eceaea; /* Dot color */
    border-radius: 70%;
    background-image: url('briefcase.png'); /* Replace with the URL of the downloaded icon */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  .arrow-right, .arrow-left {
    position: absolute;
    top: 20px; /* Adjust this value to match your layout */
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  /* Right-pointing arrow, for the entry on the right */
  .arrow-left {
    right: -1.5%; /* Position the arrow to the right of the box */
    border-width: 5px 0 5px 10px; /* Adjust size of arrow */
    border-color: transparent transparent transparent #ffffff; /* Left border is white, others are transparent */
  }
  
  /* Left-pointing arrow, for the entry on the left */
  .arrow-right {
    left: -1.5%; /* Position the arrow to the left of the box */
    border-width: 5px 10px 5px 0; /* Adjust size of arrow */
    border-color: transparent #ffffff transparent transparent; /* Right border is white, others are transparent */
  }

  @keyframes comeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes comeInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .entry {
    /* Keep your existing styles */
    visibility: hidden; /* Initially set visibility to hidden */
  }
  
  .entry.come-in {
    visibility: visible; /* When come-in class is added, set visibility to visible */
    animation: comeInLeft 0.8s forwards;
  }
  
  .entry.come-in:nth-child(odd) {
    animation-name: comeInLeft;
  }
  
  .entry.come-in:nth-child(even) {
    animation-name: comeInRight;
  }

  .project-card {
    transition: transform 0.3s ease;
}

.project-card.focus {
    transform: scale(1.05); /* Slightly increase size */
}

/* Reset scale when the card loses focus */
.project-card:not(.focus) {
    transform: scale(1);
}

#experience h2{
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
}

#skills {
    background-color: #ffffff; /* Setting the background to white */
    padding: 20px 0;
    text-align: center;
}

#skills .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

#skills h2 {
    color: #625f5f; /* Dark grey color for the text */
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items in the row */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Spacing between skill blocks */
}

.skill {
    flex: 0 1 calc(20% - 10px); /* Subtracting the gap from the width for each item */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px; /* Smaller margin for tighter spacing */
    transition: transform 0.3s ease;
}

.skill img {
    width: 60px; /* Setting a smaller width for the images */
    height: 60px; /* Setting a smaller height for the images */
    margin-bottom: 8px; /* Space between the image and text */
    transition: transform 0.3s ease;
}

.skill p {
    font-size: 0.8em;
    color: #666; /* Light grey for the text */
}

.skill:hover {
    transform: scale(1.2); /* Increase the size of the skill block to 110% on hover */
}

.skill:hover img {
    transform: scale(1.1); /* Increase the size of the image to 110% on hover */
}


/* Media query for smaller screens */
@media (max-width: 1024px) {
    .skill {
        flex: 0 1 calc(25% - 10px); /* 4 items per row */
    }
}

@media (max-width: 768px) {
    .skill {
        flex: 0 1 calc(33.333% - 10px); /* 3 items per row */
    }
}

@media (max-width: 480px) {
    .skill {
        flex: 0 1 calc(50% - 10px); /* 2 items per row */
    }
}

@media (max-width: 320px) {
    .skill {
        flex: 0 1 98%; /* 1 item per row */
    }
}

#education {
    text-align: center;
}

#education .container {
    max-width: 800px;
    margin: auto;
    position: relative;
    max-height: 30%;
}

#education h2 {
    color: #fff;
    margin-bottom: 50px;
}

.timeline-block {
    margin-bottom: 30px;
    position: relative;
}

.timeline-icon {
    background-color: #4a90e2;
    color: white;
    border-radius: 50%;
    padding: 15px;
    z-index: 100;
}

.timeline-content {
    background-color: white;
    padding: 30px 50px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 90;
    cursor: pointer;
    overflow: hidden;
    min-height: 150px; /* To ensure all blocks are the same height */
    display: flex;
  align-items: center;
  flex-direction: column;
}

.timeline-content h3 {
    margin-top: 12px;
    font-size: 1.6em;
    color: #333;
}

.additional-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #eef1f5;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.timeline-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: all 0.3s ease, box-shadow 0.3s ease;
}

.timeline-content:hover .additional-info {
    max-height: 100px; /* Adjust this value based on your content */
    padding: 20px;
    transition: all 0.3 ease-in-out;
}

/* Font Awesome Graduation Cap icon */
.timeline-icon i {
    font-size: 24px;
}

@media (max-width: 768px) {
    .timeline-icon {
        left: 20px;
        transform: translateX(0);
    }
}

@media (max-width: 480px) {
    .timeline-content h3 {
        font-size: 1.4em;
    }
}

/* Contact Section Styles */
#contact {
    position: relative;
    background: #fff; /* Very light gray background */
    color: #333; /* Primary text color */
    margin-bottom: 90px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
  }
  
  #contact h2 {
    margin-top: 90px;
    margin-bottom: 0.5em;
    color: #005f73; /* A deep teal for the title */
  }
  
  #contact p {
    margin-bottom: 2em;
    color: #0a9396; /* A soft cyan for the text */
  }
  
  .contact-options {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .contact-option {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    background: white; /* Pure white background for contact options */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
    border-radius: 50px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .contact-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .icon-container {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #94d2bd; /* Light green background for icons */
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
  }
  
  .contact-option .fas {
    transition: transform 0.3s ease;
  }
  
  .contact-option:hover .icon-container {
    background: #ee9b00; /* Bright yellow for hover state */
  }
  
  .contact-option:hover .fas {
    transform: rotate(360deg); /* Icon spins on hover */
  }
  
  .contact-text {
    font-size: 1em;
  }
  
  .pattern-background {
    display: none; /* Remove the pattern if it conflicts with the white background */
  }
  
  /* Responsiveness */
  @media (max-width: 767px) {
    #contact {
      padding: 50px 20px;
    }
  
    #contact h2 {
      font-size: 2em;
    }
  
    #contact p {
      font-size: 0.95em;
    }
  }

  
  footer {
    background: #4e54c8; /* Footer background color */
    color: white; /* Footer text color */
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .social-icons-footer {
    margin-bottom: 10px;
  }
  
  .social-icons-footer a {
    color: white; /* Social icons color */
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
  }
  
  .social-icons-footer a:hover {
    color: #0a5996; /* Social icons hover color */
  }
  
  footer p {
    font-size: 0.8em;
    margin-top: 10px;
  }
  
  @media (max-width: 767px) {
    .social-icons-footer a {
      margin: 0 5px;
      font-size: 1.2em;
    }
  }
  

  